.navbar-default .navbar-nav > li > a > a {
  color: #777;
}

.navbar-default .navbar-nav > li > a > a:hover,.navbar-default .navbar-nav > li > a >a:focus{
  color:#333;
  background-color:transparent;
}

.hightlight-box {
  padding-bottom: 16px;
}

.hightlight-box .highlight-item {
  margin-right: 16px;
  text-align: center;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.hightlight-box .highlight-item .project-name {
  font-weight: 500;
}

.hightlight-box .highlight-item .author {
  color: #888;
}

.highlight-item a {
  color: #333;
}

.editable-text {
  font-weight: normal;
}

.side-padding-36 {
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
}

.wysiwyg-editor {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
}

.wysiwyg-editor ul li {
  margin-left: 16px;
  list-style: disc;
}

.wysiwyg-editor ol li {
  margin-left: 16px;
  list-style: decimal;
}

.wysiwyg-display ul li {
  margin-left: 16px;
  list-style: disc;
}

.wysiwyg-display ol li {
  margin-left: 16px;
  list-style: decimal;
}

.project-image-preview {
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}

.auto-price {
  background: #E74C3C;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
  padding: 0 8px;
  border-radius: 3px;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset, 1px 1px 0 rgba(0,0,0,0.1) inset;
  text-align: center;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
}

.landing-page {
  height: 100vh;
}

.add-image img {
  width: 100%;
}
